# client/.env
REACT_APP_SOCKET_URL=http://localhost:9000
REACT_APP_API_URL=http://localhost:9000

# server/.env
MONGODB_URI=mongodb://127.0.0.1:27017/writeflow
PORT=9000
CLIENT_URL=http://localhost:3000
CEREBRAS_API_KEY=
AI_API_URL=https://api.cerebras.ai/v1/chat/completions
AI_MODEL=gpt-oss-120b
